* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-bio-svg {
  height: 3rem;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.nav__items {
  list-style: none;
  margin: 0;
  padding: 0 1rem 0 0;
  display: flex;
  margin-top: 0.5rem;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item {
  margin: 0 0.6rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.nav__item a:hover,
.nav__item a:active {
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("scuba.JPG"); */
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

#main-bio {
  width: 100vw;
  display: flex;
  height: 35rem;
  margin-top: 5rem;
  margin-right: 18rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#main-bio h2 {
  color: white;
  font-size: 3rem;
  margin: 0.5rem 0;
  text-align: right;
}

section > p {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  color: white;
  background-color: rgb(125, 210, 252);
  opacity: 0.8;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

#hashtags {
  display: flex;
  flex-direction: row;
}

.hashtag {
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 500;
}

#bg-img {
  width: 100%;
}

#okr {
  display: flex;
}

#top {
  position: fixed;
  bottom: 0.3rem;
  right: 0.3rem;
}
