* {
	box-sizing: border-box;
}

body {
	height:100vh;
	margin:0;
	padding:0;
	display: flex;
	/*flex-direction: row;*/
	justify-content:center;
	align-items: center;
}

.cal-container {
    display: flex;
    flex-direction: column;
	width: 30rem;
	height: 30rem;
	/* border: 1px solid black; */
	border-radius: 16px;
	background-color: rgb(217, 173, 244);
    box-shadow: 10px 10px 40px rgba(0,0,0,0.3);
	padding: 2rem; 
}

.display {
	width:100%;
    margin-bottom: 2rem;
}

.display input {
    width: 100%;
    background-color: transparent;
    border: 0px;
	color: white;
	text-align: right;
    font-size: 3rem;
}

.display input::placeholder {
    color: white;
}

.btn {
	display: flex;
	align-items: top;
    height: 75%;
}

.btn button {
    border: 0px;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 10px;
}

.num {
    justify-content: space-between;
}

.num button {
	width: 30%;
	height: 25%;
    margin: 0.1rem;
    margin-bottom: 0.3rem;
	background-color: whitesmoke;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	color: #aaa;
    font-size: 1.5em;
    font-weight: 500;
}

.op {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.op button {
	width: 46%;
	height: 25%;
    margin: 0.1rem;
    margin-bottom: 0.3rem;
	background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	color: #aaa;
    font-size: 1.5rem;
}

#ac {
	width: 100%;
	background-color: rgb(255, 154, 154);
    color: white;
}

#equal {
    width: 100%;
}

button:hover,
#ac:hover,
#equal:hover {
    background-color: rgb(252, 240, 170);
}

button:active,
#ac:active,
#equal:active {
    background-color: rgb(255, 221, 121);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
}