* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-bio-svg {
  height: 3rem;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.nav__items {
  list-style: none;
  margin: 0;
  padding: 0 1rem 0 0;
  display: flex;
  margin-top: 0.5rem;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item {
  margin: 0 0.6rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.nav__item a:hover,
.nav__item a:active {
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("scuba.JPG"); */
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

#main-bio {
  width: 100vw;
  display: flex;
  height: 35rem;
  margin-top: 5rem;
  margin-right: 18rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#main-bio h2 {
  color: white;
  font-size: 3rem;
  margin: 0.5rem 0;
  text-align: right;
}

section > p {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  color: white;
  background-color: rgb(125, 210, 252);
  opacity: 0.8;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

#hashtags {
  display: flex;
  flex-direction: row;
}

.hashtag {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.hashtag:hover, 
.hashtag:active {
    background-color: white;
    color: rgb(61, 164, 215);
    font-weight: 700;
    opacity: 0.8;
}

#bg-img {
  width: 100%;
}

#okr {
  display: flex;
  margin: 10rem 0;
}

#okr li {
  list-style: none;
  padding: 0px;
}

.okr-content {
  display: flex;
  width: 25rem;
  margin: 3rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#top a {
  position: fixed;
  text-decoration: none;
  color:rgb(61, 164, 215) ;
  font-weight: 800;
  bottom: 1rem;
  right: 1rem;
}


#top a:hover,
#top a:active {
    color: #bbb;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.hashtag-content {
  display: none;
  position: fixed;
  z-index: 10;
  top:30%;
  left: 15%;
  width: 40%;
  height: 40%;
  background-color: rgba(8, 50, 122, 0.6);
  color: white;
  padding: 1rem;
}

.hashtag-contents img {
  width: 200px;
}

.hashtag-content .hashtag-content-without-img {
  padding-left: 1.5rem;
}

.inner-hashtags {
  display: flex;
  flex-direction: row;
}

.inner-hashtag {
  border: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}