* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

#header {
  list-style: none;
  display: flex;
  position: fixed;
  margin-top: 0.5rem;
}

#header li {
  margin: 0 0.6rem;
}

#header a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

#header button {
  font: inherit;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("scuba.JPG"); */
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

#main-bio {
  display: flex;
  height: 35rem;
  margin-top: 5rem;
}

#main-bio-svg {
  width: 20rem;
  flex-grow: 2;
  padding-right: 4rem;
}

#main-bio-content {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bio-content h2 {
  color: white;
  font-size: 3rem;
  margin: 0.5rem 0;
}

section > p {
  font-weight: 300;
  color: white;
  font-size: 1.5rem;
}

#hashtags {
  display: flex;
  flex-direction: row;
}

.hashtag {
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 500;
}

#bg-img {
  width: 100%;
}

#okr {
  display: flex;
}

#top {
  position: fixed;
  bottom: 0.3rem;
  right: 0.3rem;
}
